# {{ ansible_managed }}
CLOUDFLARED_OPTS=--port {{ service.port if not auto_port else (port_base + __hsecd_srv_index) }}{% for upstream in service.upstreams %} --upstream {{ upstream }}{% endfor %}{% if service.options %} {{ service.options }}{% endif %}
